body,
#root {
  margin: 0;
  padding: 0;
  background: #FFFDF9;
  display: flex;
  flex-direction: column;
}

.dark {
  background: black;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D6A77A;
  color: black;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-header button {
  border-radius: 8px;
  background-color: #7B3F00;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.app-header button:hover {
  background-color: black;
  color: white;
}

.site-title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.book-icon {
  color: rgb(102, 25, 1);
  font-size: 3rem;
  margin-right: 12px;
}
.quote-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote-card {
  border: 1px solid black;
  background: #D6A77A;
  text-align: start;
  font-style: italic;
  padding: 50px 50px 20px;
  width: 750px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.quote-card-fatrash,
.quote-card-fapen {
  position: absolute;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
  color: rgb(131, 40, 13);
}

.quote-card-fatrash {
  right: 20px;
}

.quote-card-fapen {
  right: 60px;
}

.quote-card-fatrash:hover,
.quote-card-fapen:hover {
  color: rgb(218, 67, 22);
}

.quote-sentence {
  font-size: 40px;
  color: rgb(83, 6, 6);
  text-align: center;
  margin-bottom: 30px;
}

.quote-author-line {
  height: 1px;
  background: black;
  margin: 0.5px 0;
  align-self: center;
}

.quote-author {
  font-size: 20px;
  color: black;
  align-self: center;
  margin-top: 30px;
  text-align: center;
}
.quote-form {
  padding: 30px;
  background: #D6A77A;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Arial;
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.quote-form-input div {
  font-weight: 520;
  color: black;
}

.quote-form-input input {
  padding: 5px 10px;
  width: 350px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.quote-form-input:first-child {
  margin-bottom: 10px;
}

.quote-form-submit,
.quote-form-cancel {
  margin-top: 10px;
  margin-left: 2px;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: rgb(131, 40, 13);
  border: none;
}

.quote-form-submit:hover,
.quote-form-cancel:hover {
  background-color: rgb(218, 67, 22);
}

.clearall-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 250px 10px 0;
}

.clearall-btn {
  background-color: rgb(131, 40, 13);
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.clearall-btn:hover {
  background-color: #dd3502;
}
.dark .book-icon {
  color: white;
}

.dark .app-header {
  background-color: rgb(59, 19, 7);
  color: #f5f5f5;
}

.dark .app-header button {
  background-color: white;
  color: black;
}

.dark .quote-card {
  background-color: rgb(59, 19, 7);
  color: white;
}

.dark .quote-card-fatrash,
.dark .quote-card-fapen {
  color: white;
}

.dark .quote-card-fatrash:hover,
.dark .quote-card-fapen:hover {
  color: #ff5a2a;
}
.dark .quote-form {
  background-color: rgb(59, 19, 7);
  color: white;
}
.dark .quote-form-input div {
  color: white;
}

.dark .quote-form input {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.dark .quote-form-submit,
.dark .quote-form-cancel {
  background-color: white;
  color: black;
}

.dark .quote-form-submit:hover,
.dark .quote-form-cancel:hover {
  color: white;
  background-color: #ff5a2a;
}

.dark .quote-sentence,
.dark .quote-author {
  color: white;
}
.dark .quote-author-line {
  background: white;
}

.dark .clearall-btn {
  background-color: white;
  color: black;
}

.dark .clearall-btn:hover {
  background-color: #ff5a2a;
  color: white;
}
.search-bar {
  display: block;
  margin: 20px auto;
  padding: 8px 12px;
  width: 60%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  background-color: #fffdf9;
  color: black;
  font-size: 15px;
}
.dark .search-bar {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.filter-buttons button {
  background-color: #7B3F00;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
}
.filter-buttons button:hover {
  background-color: #ff5a2a;
}
.favorite-icon {
  color: white;
  margin-right: 8px;
  font-size: 21px;
  cursor: pointer;
}
.dark .favorite-icon {
  color: white;
}

.favorite-icon:hover {
  color: rgb(253, 64, 64);
}

.favorite-icon.active {
  color: red;
}
.main-content {
  min-height: 80vh; /* keeps the background full height */
  padding: 20px;
}
